checkpoints
datasets/clean_up_NVZ_per_species_MeltomeMix
datasets/dataset_Gustav_repro
datasets/FLIP
datasets/global_cleanup_meltome_all_set
datasets/old
datasets/profet
datasets/Structures
models
prepro_embeddings
ref_model/esm
ref_models/fast_soft_sort
ref_models/misc
ref_models/numba
ref_models/PiFold
ref_models/Prime
ref_models/ProtTrans
ref_models/protein-localization
